/* form styles */
*{
    font-family: Helvetica, sans-serif;
  }
  legend {
      font-size: 1.4em;
      font-style: italic;
      margin-bottom: -5px;
      text-align: center;
  }
  label {
    padding: 5px 0px 5px 0px;
  }
  form, fieldset, .form-group, .form-row{
    display: flex;
  }
  fieldset, .form-group{
    flex-direction: column;
  }
  input, form > label {
    display: block;
  }
  input, .form-tag, .form-blank {
    height: 45px;
  }
  input, .form-blank {
    margin: 4px 0px;
  }
  form, .form-row {
    justify-content: center;
  }
  select {
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:auto;
    outline:0;
    box-shadow:none;
    flex: 1;
    padding: .5em .5em;
    cursor:pointer;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    height: 50px;
  }
  select::-ms-expand {
     display: none;
  }
  fieldset {
    border: none;
    box-shadow: 15px 14px 26px rgba(150, 147, 150, 0.1);
    padding: 20px;
    width: 33%
  }
  input{
    text-align: center;
  }
  input, .form-tag > p, h1{
    font-size: 1.3em;
  }
  input[type="submit"]{
    border: none;
    border-radius: 4px;
    box-shadow:
    0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.075);
    background:#1462ff;
    color: #fff;
    font-size: 1em;
    font-weight: 400;
    width: 83%;
    margin: 15px auto 0px auto;
  }
  .error {
    color: red;
    padding-top: 10px;
    text-align: center;
    font-size: 1.2em;
  }
  /* form classes */
  .form-group{
    margin: 0px 10px;
    width: 40%;
  }
  .form-label {
    margin: 0px 5px;
  }
  .form-blank{
    width: 100%;
  }
  .select {
    position: relative;
    display: flex;
    line-height: 2;
    border-radius: .25em;
  }

  @media only screen and (max-width: 885px) {

    input, .form-tag > p, h1{
      font-size: 1.1em;
    }
}

  @media only screen and (max-width: 600px) {

    fieldset {
        width: 85%;
    }
}